
<%= raw(youtube_embed('https://www.youtube.com/embed/Xv61XRTml50')) %>
<div class="bar">
		<div class="filter">
			<span class="filter__label">Filter: </span>
			<button class="action filter__item filter__item--selected" data-filter="*">All</button>
			<button class="action filter__item" data-filter=".popular"><i class="icon icon--jacket"></i><span class="action__text">Popular</span></button>
			<button class="action filter__item" data-filter=".live"><i class="icon icon--shirt"></i><span class="action__text">Live</span></button>
			<button class="action filter__item" data-filter=".QA"><i class="icon icon--dress"></i><span class="action__text">Q&A's</span></button>
		</div>
		<button class="cart" style="display:none;">
			<i class="cart__icon fa fa-shopping-cart"></i>
			<span class="text-hidden">Shopping cart</span>
			<span class="cart__count">0</span>
		</button>
	</div>
	<section class="grid grid--loading">
			<!-- Loader -->
			<img class="grid__loader" src="images/grid.svg" width="60" alt="Loader image" />
			<!-- Grid sizer for a fluid Isotope (Masonry) layout -->
			<div class="grid__sizer"></div>
			<!-- Grid items -->
			<div class="grid__item live">
				
			<p width="250"><%= raw(youtube_embed('https://www.youtube.com/embed/Xv61XRTml50')) %></p>

				<div class="meta">
					<h3 class="meta__title">Some description about the video goes here</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
			</div>
			
			<div class="grid__item QA">
				<iframe width="250" height="150" src="https://www.youtube.com/embed/Xv61XRTml50" frameborder="0" allowfullscreen></iframe>
				<div class="meta">
					<h3 class="meta__title">Description</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
			</div>
			<div class="grid__item live">
				<iframe width="250" height="150" src="https://www.youtube.com/embed/Xv61XRTml50" frameborder="0" allowfullscreen></iframe>
				<div class="meta">
					<h3 class="meta__title">Description</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
			</div>
			
			<div class="grid__item  popular">
				<iframe width="250" height="150" src="https://www.youtube.com/embed/Xv61XRTml50" frameborder="0" allowfullscreen></iframe>
				<div class="meta">
					<h3 class="meta__title">Description</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
			</div>
			
			<div class="grid__item live">
				<iframe width="250" height="150" src="https://www.youtube.com/embed/Xv61XRTml50" frameborder="0" allowfullscreen></iframe>
				<div class="meta">
					<h3 class="meta__title">Description</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
			</div>
			
			<div class="grid__item QA">
				<iframe width="250" height="150" src="https://www.youtube.com/embed/Xv61XRTml50" frameborder="0" allowfullscreen></iframe>
				<div class="meta">
					<h3 class="meta__title">Description</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
			</div>
			<div class="grid__item live">
				<iframe width="250" height="150" src="https://www.youtube.com/embed/Xv61XRTml50" frameborder="0" allowfullscreen></iframe>
				<div class="meta">
					<h3 class="meta__title">Description</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
			</div>
	
			<div class="grid__item popular">
				<iframe width="250" height="150" src="https://www.youtube.com/embed/Xv61XRTml50" frameborder="0" allowfullscreen></iframe>
				<div class="meta">
					<h3 class="meta__title">Description</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
			</div>
			
			<div class="grid__item QA">
				<iframe width="250" height="150" src="https://www.youtube.com/embed/Xv61XRTml50" frameborder="0" allowfullscreen></iframe>
				<div class="meta">
					<h3 class="meta__title">Description</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
			</div>
		
			<div class="grid__item popular">
				<iframe width="250" height="150" src="https://www.youtube.com/embed/Xv61XRTml50" frameborder="0" allowfullscreen></iframe>
				<div class="meta">
					<h3 class="meta__title">Description</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
			</div>
			<div class="grid__item live">
				<iframe width="250" height="150" src="https://www.youtube.com/embed/Xv61XRTml50" frameborder="0" allowfullscreen></iframe>
				<div class="meta">
					<h3 class="meta__title">Description</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
			</div>
			
			<div class="grid__item QA">
				<iframe width="250" height="150" src="https://www.youtube.com/embed/Xv61XRTml50" frameborder="0" allowfullscreen></iframe>
				<div class="meta">
					<h3 class="meta__title">Description</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
			</div>
			<div class="grid__item live">
				<iframe width="250" height="150" src="https://www.youtube.com/embed/Xv61XRTml50" frameborder="0" allowfullscreen></iframe>
				<div class="meta">
					<h3 class="meta__title">Description</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
			</div>
			<div class="grid__item popular">
				<iframe width="250" height="150" src="https://www.youtube.com/embed/Xv61XRTml50" frameborder="0" allowfullscreen></iframe>
				<div class="meta">
					<h3 class="meta__title">Description</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
			</div>
			
			<div class="grid__item live">
				<iframe  width="250" height="150" src="https://www.youtube.com/embed/Xv61XRTml50" frameborder="0" allowfullscreen></iframe>
				<div class="meta">
					<h3 class="meta__title">Description</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
			</div>
			
			<div class="grid__item QA">
				<iframe  width="250" height="150" src="https://www.youtube.com/embed/Xv61XRTml50" frameborder="0" allowfullscreen></iframe>
				<div class="meta">
					<h3 class="meta__title">Description</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
			</div>
			<div class="grid__item live">
				<iframe width="250" height="150" src="https://www.youtube.com/embed/Xv61XRTml50" frameborder="0" allowfullscreen></iframe>
				<div class="meta">
					<h3 class="meta__title">Description</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
			</div>
			<div class="grid__item popular">
				<iframe width="250" height="150" src="https://www.youtube.com/embed/Xv61XRTml50" frameborder="0" allowfullscreen></iframe>
				<div class="meta">
					<h3 class="meta__title">Description</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
			</div>
			<div class="grid__item QA">
				<iframe width="250" height="150" src="https://www.youtube.com/embed/Xv61XRTml50" frameborder="0" allowfullscreen></iframe>
				<div class="meta">
					<h3 class="meta__title">Description</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
			</div>
			<div class="grid__item popular">
				<iframe width="250" height="150" src="https://www.youtube.com/embed/Xv61XRTml50" frameborder="0" allowfullscreen></iframe>
				<div class="meta">
					<h3 class="meta__title">Description</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
			</div>
		</section>
		<!-- /grid-->
	</div>
	<!-- /view -->
	