<div align="center">
<% @biographies.each do |i| %>
	 <%= i.name.html_safe %> 
	 <%= i.description.html_safe %> <br />
	 <%= i.author.html_safe %> <br />>
	 <%= image_tag i.image.url(:medium),  :width => '30%', :height => '30%' %> <br> <br>
	 <%= video_tag i.video.url, controls: true, type: "video/mp4", :width => '30%', :height => '30%' if i.video.present?  %>
	 <%= render_shareable %>
	 <br/>
<% end %>
</div>