</div>
</div>
<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
					<p class="copyright"></p>
			</div>
		</div>
	</div>
	</div>
		<script type="text/javascript">
		$('.rst-pageline-slider').owlCarousel({
			 autoPlay: 3000,
			singleItem: true,
			pagination : false,
			navigation : true,
			navigationText : ['<i class="fa fa-long-arrow-left"></i>','<i class="fa fa-long-arrow-right"></i>'],
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
		    $("#owl-bolly").owlCarousel({
		  		items : 5,

		  	});	
		});
		$('.rst-hotnews').owlCarousel({
			paginationSpeed: 300,
			singleItem: true,
			pagination : true,
			navigation : false,
			autoPlay: true,
		});
	</script>
		
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55234356-2', 'auto');
  ga('send', 'pageview');

</script>
</body>
</htmls>