<div class="col-md-12 no-padding">
<nav class="navbar navbar-default navbar-custom" role="navigation" style="margin-bottom:0;">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button> <a class="navbar-brand" href="#" style="  padding-top:23px;">Muzbuzz-Logo</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="#">Home</a>
              </li>
              <li class="dropdown">
                <a href="<%= news_index_path %>">News</a>
              </li>
              <li>
                <a href="<%= galleries_path %>">Gallery</a>
              </li>
              <li>
                <a href="<%= music_and_videos_path %>">Music Videos</a>
              </li>
              <li>
                <a href="<%= gossips_path %>">Gossips</a>
              </li>
              <li>
                <a href="<%= beauty_and_sex_index_path %>">Beauty & Sex</a>
              </li>
              <li>
                <a href="<%= biographies_path %>">Biography</a>
              </li>
              <li>
                <a href="<%= cartoons_path %>">Cartoons</a>
              </li>
              <li>
                <a href="<%= horoscopes_path %>">Horoscopes</a>
              </li>
            </ul>
          </div>
</nav>
</div>
