<div align="center">
<% @gossips.each do |i| %>
	 <%= i.name.html_safe %> 
	 <%= i.description.html_safe %> <br />
	 <%= i.author.html_safe %> <br />>
	 <%= image_tag i.image.url(:medium),  :width => '30%', :height => '30%' %> <br> <br>
	 <%= video_tag i.video.url, controls: true, type: "video/mp4", :width => '30%', :height => '30%' if i.video.present?  %>
	 <%= render_shareable %>
	 <br/>
<% end %>
</div>

	<div class="container">
		<div class="col-md-6">
			<div class="carousel slide" id="carousel-643043">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-643043">
					</li>
					<li data-slide-to="1" data-target="#carousel-643043">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="News Slide 1" src="images/test_gossip.jpg" width="100%"/>
						<div class="carousel-caption" style="padding-top:10px;padding-bottom:15px;">
							<h4>Featured Story</h4>
							<p style="font-size:14px;">
								Kendall Jenner Goes Topless With Pasties In Nude 'Vogue Japan' Shoot
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="News Slide 2" src="images/test_gossip_1.jpg" width="100%"/>
						<div class="carousel-caption" style="padding-top:10px;padding-bottom:15px;">
							<h4>Featured Story</h4>
							<p style="font-size:14px;">
								Some caption to go with the image
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 sidebar">
			<div class="col-md-6 side-img">
				<img src="images/test_gossip_3.jpg" class="img-responsive" style="height:156px;"/>
			</div>
			<div class="col-md-6 side-img">
				<img src="images/test_gossip_3_1.jpg" class="img-responsive" style="height:156px;width:239px;"/>
			</div>
			<div class="col-md-6 side-img" style="margin-top:1%;">
				<img src="images/test_gossip_4.jpg" class="img-responsive" style="height:156px;"/>
			</div>
			<div class="col-md-6 side-img" style="margin-top:1%;">
				<img src="images/test_gossip_4_1.jpg" class="img-responsive" style="height:156px;"/>
			</div>
		</div>
		<div class="col-md-12">
			<div class="box-heading">
				<h3>Gossips</h3>
			</div>
		</div>
		<div class="col-md-12 gossip-section owl-carousel">
			<div class="gossip-content">
				<div class="col-md-6">
					<img src="images/test_gossip.jpg" class="img-responsive"/>
				</div>
				<div class="col-md-6">
					<h4>Kendall Jenner Goes Topless With Pasties In Nude ‘Vogue Japan’ Shoot — See Pic</h4>
					<p>This isn’t her first topless rodeo. Kendall Jenner showed off her nude body with well-placed star-shaped pasties on her boobs in a photo-shoot with 'Vogue Japan!' Take a look at the revealing pics here.
					Kendall Jenner, 19, isn't a stranger to showing off her bare torso for the cameras. While the reality star was fully clothed on the cover of Vogue Japan, Kendall decided to give her fans a peek at a few of her racier looks that were placed inside the mag.
					That is one VERY sheer look. Inside the cover of Kendall’s Vogue Japan look, the 19-year-old was seen wearing a completely see-through dress with an intricate floral design at the hem of the gown. The superstar model wore black underwear to cover up her lady parts, but she decided against wearing a bra. Instead, Kendall had star-shaped pasties put on top of her bare chest! She wrote alongside the picture, "more from my inside cover story @voguejapan."
					</p>
				</div>
			</div>
			<div class="gossip-content">
				<div class="col-md-6">
					<img src="images/test_gossip_2.jpg" class="img-responsive"/>
				</div>
				<div class="col-md-6">
					<h4>Kylie Jenner Apologizes To Jessica Alba With Flowers After Bodyguards 'Body Check' Her</h4>
					<p>
						Kylie Jenner took New York Fashion Week by storm, but her bodyguards did some storming of their own. They body-checked Jessica Alba while she was exiting a show, and now the ‘KUWTK’ star is making up for their misdeeds.
						Jessica Alba, 34, is showing off the sweet gesture Kylie Jenner, 18, made after her bodyguards got rough with the actress/businesswoman at a New York Fashion Week show. There’s nothing like a beautiful floral arrangement to mend fences!
						“Wow! Came home to the most beautiful flower tree I’ve ever seen! Thank you Kylie Jenner, you are a sweetheart!! So thoughtful,” Jessica shared on her Instagram on Sept. 19. The Honest Company president showed off a photo of a gorgeous arrangement that featured all while florals ranging from roses to orchids.
						The flowers were presented to Jessica after a shocking report claimed Jess was manhandled by Kylie’s bodyguards following a fashion show on Sept. 13. “After the show, trying to leave the venue, it was very crowded. Everyone was in the crush and Jessica had stopped briefly to say hi to someone when all of a sudden from behind came Jenner’s bodyguards. They just shoved Jessica out of the way. She just looked astonished!” Page Six reported. 
						Jessica dished about the incident to Andy Cohen on Watch What Happens Live earlier this week. “I was just really shocked!” she told the host. “It was a real push?” Andy asked. “I got body-checked!” Jessica explained. “And it was like by two of ’em. I was like, ‘Whoa! Whoa! What’s happening?’ I thought there was like a fire. I was like, ‘What’s going on?’ But I guess someone was just leaving the building. It was really shocking.”
						To her credit, Jessica remained calm and didn’t diss on Kylie. After all, it was the bodyguards and not the style queen that did the body-checking. Obviously, Kylie was mortified by the news of what they did, resulting in the sweet gesture of sending Jessica flowers in apology.
					</p>
				</div>
			</div>
			<div class="gossip-content">
				<div class="col-md-6">
					<img src="images/test_gossip_3.jpg" class="img-responsive"/>
					<img src="images/test_gossip_3_1.jpg" class="img-responsive"/>
				</div>
				<div class="col-md-6">
					<h4>Keith Richards blasts Mick Jagger's solo material</h4>
					<p>
						Rolling Stones star Keith Richards has revealed he doesn't think Sir Mick Jagger's solo material is any good.</p>

					<p>Keith Richards doesn't think Sir Mick Jagger's solo material is any good.</p>

					<p>The 71-year-old rocker is always disappointed by his Rolling Stones bandmate's work away from the group and thinks he should just stick with being their frontman.</p>

					<p>He said: "I've got to say, when Mick goes out on his own, solo, I'm always expecting something and he just does not deliver by himself.</p>

					<p>"Maybe this is one of the things that gets right up his snoot.</p>

					<p>"Listen Mick, you're the greatest in the world, as long as you've got the Rolling Stones behind you. I think that rankles him.</p>

					<p>"But it's just something I accept about the man. It's a point of jocularity among the band."</p>

					<p>And Keith is always amused by Mick's muted responses to his own solo work.</p>

					<p>He told GQ magazine: "Whatever he says I will then translate it to know what he really means. He'll go, 'Mmm, not bad.' He'll play it like that."</p>

					<p>Speaking about Mick's response to one of his previous solo tracks, 'You Don't Move Me' - which was about Keith's relationship with the singer - he added: "Mick's got this incredible ability to blank it out. I never got any more feedback. Like it didn't exist.</p>

					<p>"If he gives me a blank silence, I'll know he's heard the new record."</p>
				</div>
			</div>
						<div class="gossip-content">
				<div class="col-md-6">
					<img src="images/test_gossip_4.jpg" class="img-responsive"/>
					<img src="images/test_gossip_4_1.jpg" class="img-responsive"/>
				</div>
				<div class="col-md-6">
					<h4>David Gilmour dedicates song to late Rick Wright</h4>
					<p>
						David Gilmour has revealed his late Pink Floyd bandmate Rick Wright inspired the song 'A Boat Lies Waiting' on his new solo album 'Rattle That Lock'.
					</p>
					<p>David Gilmour has dedicated a song to late Pink Floyd keyboard player Rick Wright on his new solo album.</p>
					<p>The 69-year-old guitarist - who has just released 'Rattle That Lock', his first individual release since 2006 - recorded 'A Boat Lies Waiting' for his former bandmate who sadly passed away from cancer in 2008 and was reminded during the making of his LP of the "great loss" of a talented musician and friend.</p>
					<p>Speaking to The Sun newspaper, he said: "It was a great loss and we're still very sad about it. There have been moments during making this album where I've had other keyboard players around who are very, very good and we've got on very well but one is constantly reminded of what one has lost."</p>
					<p>The track itself was written 18 years ago but, Gilmour reveals, it didn't "reveal itself" for a long time.</p>
					<p>He explained: "The piece of music at the heart of 'A Boat Lies Waiting' was recorded at home on a piano to a mini disc player 18 years ago ... sometimes it takes a while for a piece of music to reveal itself in its entirety and I'm still baffled by the process."</p>
					<p>Although Pink Floyd - also comprised of Nick Mason and previously Roger Waters and Syd Barrett - will not tour again or release new music following 2014's 'The Endless River', Gilmour will always be proud of the band and will never let the "memories" fade.</p>
					<p>He said: "Pink Floyd is a big part of my life and something that I'm extraordinarily proud of. It gave me a lot of joy and fun.</p>
					<p>"I'm in no way closing the door to my memories and times we had and all those things. I'm just saying that I won't be going back to something that's got that title."</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 text-center" style="margin-top:1%;border-top:1px solid #e8ecf0;">
		<p style="margin:15px 0 15px;">&copy;Copyright 2015. All rights reserved</p>
	</div>
	<script type="text/javascript">
		$('.gossip-section').owlCarousel({
			paginationSpeed: 300,
			singleItem: true,
			pagination : true,
			navigation : false,
			autoPlay: false
		});
	</script>