<div class="col-md-12 no-padding">
			<div class="carousel slide" id="carousel-22726">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-22726">
					</li>
					<li data-slide-to="1" data-target="#carousel-22726">
					</li>
					<li data-slide-to="2" data-target="#carousel-22726">
					</li>
					<li data-slide-to="3" data-target="#carousel-22726">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<%= image_tag("slide4.jpg" , :style => "width:100%;height:500px;") %>
						<div class="carousel-caption">
							<h4>
								Caption Title
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<%= image_tag("slide4.jpg" , :style => "width:100%;height:500px;") %>
						<div class="carousel-caption">
							<h4>
								Caption Title
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="Third Slide" src="images/slide4.jpg" style="width:100%;height:500px;"/>
						<div class="carousel-caption">
							<h4>
								Caption Title
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="Fourth Slide" src="images/slide4.jpg" style="width:100%;height:500px;"/>
						<div class="carousel-caption">
							<h4>
								Caption Title
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="rst-pageline container">
				<div class="row">
					<div class="col-xs-12">
						<div class="rst-pageline-content" id="headlines">
							<span>Breaking News</span>
							<div class="rst-pageline-slider owl-carousel">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a commodo sem, ut egestas.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a commodo sem, ut egestas.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 no-padding bolly">
					<h4>Bollywood News</h4>
					<div id="owl-bolly" class="owl-carousel owl-carousel-1">
						<div class="bolly-img-wrapper">
							<%= image_tag("bolly1.jpg" , :class => "img-responsive") %>
							<div class="bolly-caption-wrapper">
								<figcaption>
									<a href="#">Shruti Hasan to star oppposite to Ajay Devgan in 'Badshaho'</a>
								</figcaption>
								<span><i class="fa fa-clock-o"></i>&nbsp;6 minutes ago</span>
							</div>
						</div>
						<div class="bolly-img-wrapper">
							<%= image_tag("bolly2.jpg" , :class => "img-responsive") %>
								<div class="bolly-caption-wrapper">
								<figcaption>
									<a href="#">On the sets:'Great Grand Masti'</a>
								</figcaption>
								<span><i class="fa fa-clock-o"></i>&nbsp;43 minutes ago</span>
							</div>
						</div>
						<div class="bolly-img-wrapper">
							<%= image_tag("bolly3.jpg" , :class => "img-responsive") %>
							<div class="bolly-caption-wrapper">
								<figcaption>
									<a href="#">Lata Mangeshkar, grandson Neil remember Mukesh on birth anniversary</a>
								</figcaption>
								<span><i class="fa fa-clock-o"></i>&nbsp;59 minutes ago</span>
							</div>
						</div>
						<div class="bolly-img-wrapper">
							<%= image_tag("bolly1.jpg" , :class => "img-responsive") %>
							<div class="bolly-caption-wrapper">
								<figcaption>
									<a href="#">Shruti Hasan to star oppposite to Ajay Devgan in 'Badshaho'</a>
								</figcaption>
								<span><i class="fa fa-clock-o"></i>&nbsp;6 minutes ago</span>
							</div>
						</div>
						<div class="bolly-img-wrapper">
							<img src="images/bolly2.jpg" class="img-responsive"/>
							<div class="bolly-caption-wrapper">
								<figcaption>
									<a href="#">On the sets:'Great Grand Masti'</a>
								</figcaption>
								<span><i class="fa fa-clock-o"></i>&nbsp;43 minutes ago</span>
							</div>
						</div>
						<div class="bolly-img-wrapper">
							<img src="images/bolly3.jpg" class="img-responsive"/>
							<div class="bolly-caption-wrapper">
								<figcaption>
									<a href="#">Lata Mangeshkar, grandson Neil remember Mukesh on birth anniversary</a>
								</figcaption>
								<span><i class="fa fa-clock-o"></i>&nbsp;59 minutes ago</span>
							</div>
						</div>
						<div class="bolly-img-wrapper">
							<img src="images/bolly1.jpg" class="img-responsive"/>
							<div class="bolly-caption-wrapper">
								<figcaption>
									<a href="#">Shruti Hasan to star oppposite to Ajay Devgan in 'Badshaho'
									</a>
								</figcaption>
								<span><i class="fa fa-clock-o"></i>&nbsp;6 minutes ago</span>
							</div>
						</div>
						<div class="bolly-img-wrapper">
							<img src="images/bolly2.jpg" class="img-responsive"/>
							<div class="bolly-caption-wrapper">
								<figcaption>
									<a href="#">Shruti Hasan to star oppposite to Ajay Devgan in 'Badshaho'</a>
								</figcaption>
								<span><i class="fa fa-clock-o"></i>&nbsp;6 minutes ago</span>
							</div>
						</div>
						<div class="bolly-img-wrapper">
							<img src="images/bolly3.jpg" class="img-responsive"/>
							<div class="bolly-caption-wrapper">
								<figcaption>
									<a href="#">Lata Mangeshkar, grandson Neil remember Mukesh on birth anniversary</a>
								</figcaption>
								<span><i class="fa fa-clock-o"></i>&nbsp;59 minutes ago</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-8">
						<h4 class="misc">Upcoming</h4>
						<div class="col-md-4 grid">
							<a href="#">
								<figure class="effect-lily">
									<%= image_tag("bolly4.jpg" , :class => "img-responsive center-block") %>
									<figcaption>
										<p>Randeep Hooda wraps up shooting of 'Do Lafzon Ki Kahani'</p>
									</figcaption>			
								</figure>
							</a>
						</div>
						<div class="col-md-8">
							<h4><a href="#">Randeep Hooda wraps up shooting of 'Do Lafzon Ki Kahani'</a></h4>
							<span><i class="fa fa-clock-o"></i>&nbsp;1 hr ago</span>
							<p>Actor Randeep Hooda has finished shooting Deepak Tijori's directorial venture 'Do Lafzon ki Kahani'</p>
						</div>
						<div class="clearfix"></div>
						<div class="col-md-4 grid">
							<a href="#">
								<figure class="effect-lily">
									<%= image_tag("bolly4.jpg" ,:class => "img-responsive center-block")%>
									<figcaption>
										<p>Randeep Hooda wraps up shooting of 'Do Lafzon Ki Kahani'</p>
									</figcaption>			
								</figure>
							</a>
						</div>
						<div class="col-md-8">
							<h4><a href="#">Randeep Hooda wraps up shooting of 'Do Lafzon Ki Kahani'</a></h4>
							<span><i class="fa fa-clock-o"></i>&nbsp;1 hr ago</span>
							<p>Actor Randeep Hooda has finished shooting Deepak Tijori's directorial venture 'Do Lafzon ki Kahani'</p>
						</div>
						<div class="clearfix"></div>
						<div class="col-md-4 grid">
							<a href="#">
								<figure class="effect-lily">
										<%= image_tag("bolly4.jpg" ,:class => "img-responsive center-block")%>
									<figcaption>
										<p>Randeep Hooda wraps up shooting of 'Do Lafzon Ki Kahani'</p>
									</figcaption>			
								</figure>
							</a>
						</div>
						<div class="col-md-8">
							<h4><a href="#">Randeep Hooda wraps up shooting of 'Do Lafzon Ki Kahani'</a></h4>
							<span><i class="fa fa-clock-o"></i>&nbsp;1 hr ago</span>
							<p>Actor Randeep Hooda has finished shooting Deepak Tijori's directorial venture 'Do Lafzon ki Kahani'</p>
						</div>
						<div class="clearfix"></div>
						<div class="col-md-4 grid">
							<a href="#">
								<figure class="effect-lily">
										<%= image_tag("bolly4.jpg" ,:class => "img-responsive center-block")%>
									<figcaption>
										<p>Randeep Hooda wraps up shooting of 'Do Lafzon Ki Kahani'</p>
									</figcaption>			
								</figure>
							</a>
						</div>
						<div class="col-md-8">
							<h4><a href="#">Randeep Hooda wraps up shooting of 'Do Lafzon Ki Kahani'</a></h4>
							<span><i class="fa fa-clock-o"></i>&nbsp;1 hr ago</span>
							<p>Actor Randeep Hooda has finished shooting Deepak Tijori's directorial venture 'Do Lafzon ki Kahani'</p>
						</div>
						<div class="clearfix"></div>
						<div class="col-md-4 grid">
							<a href="#">
								<figure class="effect-lily">
										<%= image_tag("bolly4.jpg" ,:class => "img-responsive center-block")%>
									<figcaption>
										<p>Randeep Hooda wraps up shooting of 'Do Lafzon Ki Kahani'</p>
									</figcaption>			
								</figure>
							</a>
						</div>
						<div class="col-md-8">
							<h4><a href="#">Randeep Hooda wraps up shooting of 'Do Lafzon Ki Kahani'</a></h4>
							<span><i class="fa fa-clock-o"></i>&nbsp;1 hr ago</span>
							<p>Actor Randeep Hooda has finished shooting Deepak Tijori's directorial venture 'Do Lafzon ki Kahani'</p>
						</div>
						<div class="clearfix"></div>
						<div class="col-md-8">
							<button class="btn btn-3 btn-3e fa fa-arrow-circle-right">View All</button>
						</div>
					</div>
					<div class="col-md-4">
						<h4 class="misc">Trending</h4>
						<aside class="widget widget_hot_news">
							<div class="rst-hotnews owl-carousel">
								<ul class="trending">
									<li>
										<a href="#">National News</a><br/>
										<span><i class="fa fa-clock-o"></i>&nbsp;5 hours ago</span>
										<p><a href="#">Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</a></p>
									</li>
									<li>
										<a href="#">National News</a><br/>
										<span><i class="fa fa-clock-o"></i>&nbsp;5 hours ago</span>
										<p><a href="#">Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</a></p>
									</li>
									<li>
										<a href="#">National News</a><br/>
										<span><i class="fa fa-clock-o"></i>&nbsp;5 hours ago</span>
										<p><a href="#">Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</a></p>
									</li>
									<li>
										<a href="#">National News</a><br/>
										<span><i class="fa fa-clock-o"></i>&nbsp;5 hours ago</span>
										<p><a href="#">Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</a></p>
									</li>
									<li>
										<a href="#">National News</a><br/>
										<span><i class="fa fa-clock-o"></i>&nbsp;5 hours ago</span>
										<p><a href="#">Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</a></p>
									</li>
									<li>
										<a href="#">National News</a><br/>
										<span><i class="fa fa-clock-o"></i>&nbsp;5 hours ago</span>
										<p><a href="#">Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</a></p>
									</li>
								</ul>
								<ul>
									<li>
										<a href="#">National News</a><br/>
										<span><i class="fa fa-clock-o"></i>&nbsp;5 hours ago</span>
										<p><a href="#">Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</a></p>
									</li>
									<li>
										<a href="#">National News</a><br/>
										<span><i class="fa fa-clock-o"></i>&nbsp;5 hours ago</span>
										<p><a href="#">Cras a tincidunt sapien, et efficitur turpis. Pellentesque efficitur in purus in feugiat.</a></p>
									</li>
								</ul>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-7 main" id="grid">
					<h4 class="misc">Miscelleneous</h4>
						<div class="col-md-6 no-padding view">
							<div class="view-back">
								<a href="#">&rarr;</a>
							</div>
							<div class="caption">
								<h4>Pop-Shop</h4>
								<p>Meghan Trainer Exclusive: Go Behind the scenes of the 'Like I'm Gonna Lose you' Music Video</p>
							</div>
								<%= image_tag("1.jpg")%>
						</div>

						<div class="col-md-6 no-padding view">
							<div class="view-back">
								<a href="#">&rarr;</a>
							</div>
							<div class="caption">
								<h4>Pop-Shop</h4>
								<p>Meghan Trainer Exclusive: Go Behind the scenes of the 'Like I'm Gonna Lose you' Music Video</p>
							</div>
								<%= image_tag("2.jpg")%>
						</div>
						<div class="col-md-6 no-padding view">
							<div class="view-back">
								<a href="#">&rarr;</a>
							</div>
							<div class="caption">
								<h4>Pop-Shop</h4>
								<p>Meghan Trainer Exclusive: Go Behind the scenes of the 'Like I'm Gonna Lose you' Music Video</p>
							</div>
								<%= image_tag("3.jpg")%>
						</div>
						<div class="col-md-6 no-padding view">
							<div class="view-back">
								<a href="#">&rarr;</a>
							</div>
							<div class="caption">
								<h4>Pop-Shop</h4>
								<p>Meghan Trainer Exclusive: Go Behind the scenes of the 'Like I'm Gonna Lose you' Music Video</p>
							</div>
							<%= image_tag("4.jpg")%>
						</div>
						<div class="clearfix"></div>
						<a href="#" class="loadmore">Load more</a>
					</div>
					<div class="col-md-5 bolly">
						<h4>Advertisement</h4>
						<div class="col-md-6">
							<%= image_tag("ad01.png",:class=>"img-responsive center-block")%>
						</div>
						<div class="col-md-6">
							<%= image_tag("ad01.png",:class=>"img-responsive center-block")%>
						</div>
						<div class="col-md-6" style="margin-top:5%;">
							<%= image_tag("ad01.png",:class=>"img-responsive center-block")%>
						</div>
						<div class="col-md-6" style="margin-top:5%;">
							<%= image_tag("ad01.png",:class=>"img-responsive center-block")%>
						</div>
					</div>
	        	</div>
		