
	<div class="container">
		<div class="col-md-8">
			<div class="carousel slide" id="carousel-643043">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-643043">
					</li>
					<li data-slide-to="1" data-target="#carousel-643043">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<%= image_tag @news.last.image.url, :width => "100%" %>
					</div>
					<div class="item">
						<%#= image_tag News.offset(1).first.image.url, :width => "100%" if News.first.image.present? %>
					</div>
					<div class="item">
						<img alt="News Slide 3" src="images/news-slide-3.png" width="100%"/>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="box-heading">
				<h3>Events</h3>
				<a href="#" class="pull-right"><i class="fui-list"></i> &nbsp;All Events</a>
			</div>
			<div class="col-md-12 events">
				<div class="col-md-4 date">
					<strong>11</strong>
					<span>Oct</span>
				</div>
				<div class="col-md-8">
					<h4>Justin Beiber</h4>
					<span>Kathmandu, Nepal</span><br/>
					<a href="#" class="readmore">Read More</a>
				</div>
			</div>
			<div class="col-md-12 events">
				<div class="col-md-4 date">
					<strong>11</strong>
					<span>Oct</span>
				</div>
				<div class="col-md-8">
					<h4>Justin Beiber</h4>
					<span>Kathmandu, Nepal</span><br/>
					<a href="#" class="readmore">Read More</a>
				</div>
			</div>
			<div class="col-md-12 events">
				<div class="col-md-4 date">
					<strong>11</strong>
					<span>Oct</span>
				</div>
				<div class="col-md-8">
					<h4>Justin Beiber</h4>
					<span>Kathmandu, Nepal</span><br/>
					<a href="#" class="readmore">Read More</a>
				</div>
			</div>
		</div>
		<div class="col-md-8" style="margin-top:5%;">
			<div class="box-heading">
				<h3>Featured</h3>
				<a href="#" class="pull-right"><i class="fui-list"></i> &nbsp;All News</a>
			</div>
			<div class="col-md-6">
				<figure>
					<img src="images/news1.jpg" class="img-responsive"/>
					<figcaption style="margin-top:2%;">
						Made in American Festival 2015:Tidal Live Stream
						<p>By Ashley Iasimone</p>
						<a href="#">Read More >> </a>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-6">
				<figure>
					<img src="images/news2.jpg" class="img-responsive"/>
					<figcaption style="margin-top:2%;">
						Here's what we hope to see from Beyonce's Made in America Headlining Set
						<p>By Natalie Weiner</p>
						<a href="#">Read More >> </a>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-6">
				<figure>
					<img src="images/news3.jpg" class="img-responsive"/>
					<figcaption style="margin-top:2%;">
						Littel mix heats up the Billboard Hot 100 Fest
						<p>by Steven J. Horowitz</p>
						<a href="#">Read More >> </a>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-6">
				<figure>
					<img src="images/news4.jpg" class="img-responsive"/>
					<figcaption style="margin-top:2%;">
						Rihanna Joins Kanye West From the Audience for FYF Fest Performance
						<p>by Colin Stutz</p>
						<a href="#">Read More >> </a>
					</figcaption>
				</figure>
			</div>
		</div>
		<div class="col-md-4" style="margin-top:5%;">
			<div class="box-heading">
				<h3>Trending Videos</h3>
				<a href="#" class="pull-right"><i class="fui-list"></i> &nbsp;All Trending</a>
			</div>
			<iframe width="100%" height="221px" src="https://www.youtube.com/embed/Y9N6zdXdz9A" frameborder="0" allowfullscreen></iframe>
			<iframe width="100%" height="221px" src="https://www.youtube.com/embed/Y9N6zdXdz9A" frameborder="0" allowfullscreen style="margin-top:5%;"></iframe>
		</div>
		<div class="col-md-12" style="margin-top:5%;">
			<div class="box-heading">
				<h3>Top Charting Festival Artists</h3>
			</div>
			<div class="col-md-4 grid">
				<a href="#" class="text-center">
					<figure class="effect-lily">
						<img src="http://www.billboard.com/files/media/the-weeknd-lollapalooza-day-1-billboard-650.jpg" class="img-responsive center-block"/>
						<figcaption>
							<h3>R&B STREAMING SONGS</h3>
							<p>#1 The Hills<br/><span>The Weekend</span></p>
						</figcaption>			
					</figure>
				</a>
			</div>
			<div class="col-md-4 grid">
				<a href="#">
					<figure class="effect-lily">
						<img src="http://www.billboard.com/files/media/walk-the-moon-backstage-kroq-christmas-2014-billboard-650.jpg" class="img-responsive center-block"/>
						<figcaption>
							<h3>HOT ROCK SONGS</h3>
							<p>#1 Shut Up And Dance<br/><span>WALK THE MOON</span></p>
						</figcaption>			
					</figure>
				</a>
			</div>
			<div class="col-md-4 grid">
				<a href="#">
					<figure class="effect-lily">
						<img src="http://www.billboard.com/files/media/x-ambassadors-press-sunglasses-2015-billboard-650.jpg" class="img-responsive"/>
						<figcaption>
							<h3>ALTERNATIVE SONGS</h3>
							<p>#1 First<br/><span>Cold War Kids</span></p>
						</figcaption>			
					</figure>
				</a>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		$('.readmore').hide();
		$('.events').mouseover(function(){
			$('.date',this).addClass('eventshover');
			$('.readmore',this).show();
		});
		$('.events').mouseout(function(){
			$('.date',this).removeClass('eventshover');
			$('.readmore',this).hide();
		});
	</script>
	<script type="text/javascript">
		Modernizr.load({
			test: Modernizr.csstransforms3d && Modernizr.csstransitions,
			yep : ['http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js','js/jquery.hoverfold.js'],
			nope: 'css/fallback.css',
			callback : function( url, result, key ) {
				
			if( url === 'js/jquery.hoverfold.js' ) {
					$( '#grid' ).hoverfold();
			}

		}
	});
				
	</script>
