	<div class="bar">
		<div class="filter">
			<span class="filter__label">Filter: </span>
			<button class="action filter__item filter__item--selected" data-filter="*">All</button>
			<button class="action filter__item" data-filter=".aries"><span class="action__text">Aries</span></button>
			<button class="action filter__item" data-filter=".tauras"><span class="action__text">Taurus
			</span></button>
			<button class="action filter__item" data-filter=".gemini"><span class="action__text">Gemini
			</span></button>
			<button class="action filter__item" data-filter=".cancer"><span class="action__text">Cancer
			</span></button>
			<button class="action filter__item" data-filter=".leo"><span class="action__text">Leo</span>
			</button>
			<button class="action filter__item" data-filter=".virgo"><span class="action__text">Virgo</span></button>
			<button class="action filter__item" data-filter=".libra"><span class="action__text">Libra</span></button>
			<button class="action filter__item" data-filter=".scorpio"><span class="action__text">Scorpio
			</span></button>
			<button class="action filter__item" data-filter=".sagittarius"><span class="action__text">Sagittarius
			</span></button>
			<button class="action filter__item" data-filter=".capricon"><span class="action__text">Capricon
			</span></button>
			<button class="action filter__item" data-filter=".aquarius"><span class="action__text">Aquarius
			</span></button>
			<button class="action filter__item" data-filter=".pisces"><span class="action__text">Pisces
			</span></button>
		</div>
		<button class="cart" style="display:none;">
			<i class="cart__icon fa fa-shopping-cart"></i>
			<span class="text-hidden">Shopping cart</span>
			<span class="cart__count">0</span>
		</button>
	</div>
	<section class="grid container grid--loading">
		<!-- Loader -->
		<%= image_tag("grid.svg",:class => "grid__loader" , :width => "60", :alt => "Loader image" ) %>
		<!-- Grid sizer for a fluid Isotope (Masonry) layout -->
		<div class="grid__sizer"></div>
		<!-- Grid items -->
		 <div class="grid__item aries">
			<div class="meta">
				<p>ARIES (Mar. 21- Apr. 20) To turn Finally Aries/ram the excitement of last month are pleased to you to know that things should start to bottom now to agree. It is an opportunity for promotion and boys should be something extremely positive stock news also expected. Romance can be tricky!</p>
		
			<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden"></span></button>
		</div>
		<div class="grid__item tauras">
			<div class="meta">
				<p>TAURUS (Apr. 21- May 21) Taurus success should be your sounding slogan this month, while he finally within your reach. Your social life may suffer, but it is worth it in the end. A friend tried and you and it may be necessary off your foot, at least until the last week of September below.</p>
			</div>
			<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden"></span></button>
		</div>
		<div class="grid__item gemini">
			<div class="meta">
				<p>GEMINI (May 22-June 21) Gemini, You have more this month a little beyond. Work or school is good and you should take a break from the pressures Register. Margin looks good as friendship groups, so a trip away with your group of miners just the tonic means that you need now!</p>
			</div>
			<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden"></span></button>
		</div>
		<div class="grid__item cancer">
			<div class="meta">
				<p>CANCER (June 22-July 22) Cancer You have some important milestones in your life so far this year and now is the time when you with some satisfaction can sit back and look at all that you have achieved. Spend time with your family and recharge your batteries new, during a busy autumn ahead are ready!</p>
			</div>
			<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden"></span></button>
		</div>
		<div class="grid__item leo">
			<div class="meta">
				<p>LEO (July 23-Aug 22) Leo, reflection is not your favorite activity than you, the much prefer to be active. However, you must spend some time thinking in particular in the direction of a relationship. They believe little, towards the end of the month is exhausted, it would be a good idea to have more time to Sozialisieren to give.</p>
			</div>
			<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden"></span></button>
		</div>
		<div class="grid__item virgo">
			<div class="meta">
				<p>VIRGO (Aug. 23 -Sept. 23) Virgo, you still feel something on a height after last month's successes. This is a risky time, as you may be inclined to unwise to invest or someone to trust your best interests at heart may not have. Treat this month as a time to focus on everyday tasks and concentrate all major decisions should be avoided.</p>
			</div>
			<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden"></span></button>
		</div>
		<div class="grid__item libra">
			<div class="meta">
				<p>LIBRA (Sept. 24 -Oct. 23) Libra, Venus is back this month, although now the emphasis much more on your love life rather than friendships. Single Librans may well meet someone, by the middle of the month and is specifically attached Librans recalls, it was about her partner, the first called.</p>
			</div>
			<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden"></span></button>
		</div>
		<div class="grid__item scorpio">
			<div class="meta">
				<p>SCORPIO (Oct. 24 - Nov. 22) Scorpio practicing your natural caution this month, they gave all sorts of business opportunities. However, you may caution to the wind in the affairs of the heart throw. Abnormally feel about your innermost feelings with someone special this month comfortable.</p>
			</div>
			<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden"></span></button>
		</div>
		<div class="grid__item sagittarius">
			<div class="meta">
				<p>SAGITTARIUS (Nov. 23 -Dec. 21) Thanks to your shooter natural optimism, you are always ready to change and new ideas. You have the chance to be a leader this month, while the less you to benefit from a new concept convinced. Emotional grow in sensitivity and understanding of this month.</p>
			</div>
			<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden"></span></button>
		</div>
		<div class="grid__item capricon">
			<div class="meta">
				<p>CAPRICORN (Dec 22.- Jan. 20) Capricorn Taking the risk of creating major tensions within a relationship, if you continue your work agenda before the main life. A reliable friend has some wise advice about your uncertainty in regard to some close-held ambition. Try and open up a little more and all are good.</p>
			</div>
			<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden"></span></button>
		</div>
		<div class="grid__item pisces">
			<div class="meta">
				<p>PISCES (Feb. 20-Mar. 20) As the oldest pisces in the zodiac sign, you have a for-permission to respect natural. However, this month you can you at least have little to rebel when you achieve your goals. You can surprise you on how much you can be somebody and he impressed in your life specifically!</p>
			</div>
			<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden"></span></button>
		</div>
		<div class="grid__item aquarius">
			<div class="meta">
				<p>AQUARIUS (Jan. 21 -Feb. 19) Aquarious, You have a naturally Ruhelosigkeitsstreifen and this is to the front at the moment fetched. They are sharp, new challenges to learn and if you steer this constructively, it could be an opportunity for greater recognition at work or school. Love feels towards the end of the month particularly satisfied.</p>
			</div>
			<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden"></span></button>
		</div>
	</section>