	<div class="col-md-12">
		<div class="box-heading">
			<h3>Cartoons</h3>
		</div>
	</div>
	<div class="container">
		<div class="col-md-12">
			<% @cartoons.each do |i| %>
				<div class="col-md-3">
					<a id="modal-<%= i.id %>" href="#modal-container-<%= i.id %>" role="button" data-toggle="modal"><%= image_tag i.image.url, :class => "img-responsive img-thumbnail" , :style => "height:234px;" %></a>
				</div>
			<% end %>
		</div>
	</div>
<% @cartoons.each do |i| %>
	<div class="modal fade" id="modal-container-<%= i.id %>" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						X
					</button>
				</div>
					<div class="modal-body">
						<%= image_tag i.image.url, :class => "img-responsive img-thumbnail", :width => "100%" %>
					</div>
			</div>
		</div>
	</div>
<% end %>

