
<% if @galleries.present? %>
	<% @galleries.each do |i| %>
			 <%= i.heading.html_safe %> 
			 <%= i.description.html_safe %> <br />
			 <%= i.author.html_safe %> <br />>
			 <%= image_tag i.image.url(:medium),  :width => '30%', :height => '30%' %> <br> <br>
			 <%= video_tag i.video.url, controls: true, type: "video/mp4", :width => '30%', :height => '30%' if i.video.present?  %>
	 	   <%= render_shareable %>
			 <br/>
	<% end %>
<% end %>
</div>

<div class="bar">
		<div class="filter">
			<span class="filter__label">Filter: </span>
			<button class="action filter__item filter__item--selected" data-filter="*">All</button>
			<button class="action filter__item" data-filter=".popular"><i class="icon icon--jacket"></i><span class="action__text">Udesh Shreshtha</span></button>
			<button class="action filter__item" data-filter=".live"><i class="icon icon--shirt"></i><span class="action__text">Aman Pradhan</span></button>
		</div>
		<button class="cart" style="display:none;">
			<i class="cart__icon fa fa-shopping-cart"></i>
			<span class="text-hidden">Shopping cart</span>
			<span class="cart__count">0</span>
		</button>
	</div>
	<section class="grid grid--loading">
			<!-- Loader -->
			<img class="grid__loader" src="images/grid.svg" width="60" alt="Loader image" />
			<!-- Grid sizer for a fluid Isotope (Masonry) layout -->
			<div class="grid__sizer"></div>
			<!-- Grid items -->
			<div class="grid__item live">
				<img src="images/aman.jpg" class="img-responsive" style="height:382px;"/>
				<div class="meta">
					<h3 class="meta__title">Some description about the image goes here</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden"></span></button>
			</div>
			
			<div class="grid__item live">
				<img src="images/aman2.jpg" class="img-responsive" style="height:382px;"/>
				<div class="meta">
					<h3 class="meta__title">Some description about the image goes here</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden"></span></button>
			</div>
			<div class="grid__item live">
				<img src="images/aman3.jpg" class="img-responsive" style="height:382px;"/>
				<div class="meta">
					<h3 class="meta__title">Some description about the image goes here</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden"></span></button>
			</div>
			
			<div class="grid__item  popular">
				<img src="images/udesh_1.jpg" class="img-responsive" style="height:382px;"/>
				<div class="meta">
					<h3 class="meta__title">Some description about the image goes here</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden"></span></button>
			</div>
			
			<div class="grid__item popular">
				<img src="images/udesh_2.jpg" class="img-responsive" style="height:382px;"/>
				<div class="meta">
					<h3 class="meta__title">Some description about the image goes here</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden"></span></button>
			</div>
			
			<div class="grid__item popular">
				<img src="images/udesh_3.jpg" class="img-responsive" style="height:382px;"/>
				<div class="meta">
					<h3 class="meta__title">Some description about the image goes here</h3>
				</div>
				<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden"></span></button>
			</div>
		</section>
		<!-- /grid-->
	</div>
	<!-- /view -->
	<div class="col-md-12 text-center" style="margin-top:1%;border-top:1px solid #e8ecf0;">
		<p style="margin:15px 0 15px;">&copy;Copyright 2015. All rights reserved</p>
	</div>
	<script src="js/isotope.pkgd.min.js"></script>
	<script src="js/flickity.pkgd.min.js"></script>
	<script src="js/main.js"></script>