// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$skinActiveColor: #006600	;
$skinHeaderBck: #000066;
$panelHeaderBck: #000066;

@import "active_skin";
$skinLogo: #fff image-url("admin_logo.png") no-repeat 0px 0%;

#header
  h1.site_title {
    display: none;
  }
    