/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self 
 *= require jquery-ui
 *= require font-awesome
 *= require_tree .
 */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300,400italic,300italic);
body {
	font-family: Lato, Helvetica, Arial, sans-serif;;
}

a {
	text-decoration: none !important;
}
.navbar-custom .navbar-nav > li > a {
	background-color: rgba(0, 0, 0, 0);
box-sizing: border-box;
color: rgb(52, 73, 94);
cursor: auto;
display: block;
font-family: Lato, Helvetica, Arial, sans-serif;
font-size: 16px;
font-weight: bold;
height: 73px;
line-height: 23px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
padding-bottom: 25px;
padding-left: 21px;
padding-right: 21px;
padding-top: 25px;
position: relative;
text-align: left;
text-decoration: none;
transition-delay: 0s;
transition-duration: 0.25s;
transition-property: all;
transition-timing-function: ease;

}