<!Doctype html>
<html>
<head>
  <title>Muzbuzz-Home Page</title>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'https://code.jquery.com/jquery-2.1.4.min.js' %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
  <style type="text/css">
    .grid__sizer,
    .grid__item {
      width: 100%;
    }
    .filter__item{
      margin: 0 1%;
    }
  </style>
 </head>
 <body>
   <div class="container-fluid no-padding">
   <div class="row" style="margin:0;">
         <%= render :partial => 'shared/nav_bar' %>
      </div>
    </div>
    <%= yield %>
</div>
<%= render 'shared/footer' %>